<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ogani | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="../static/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="../static/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="../static/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="../static/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="../static/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="../static/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="../static/css/style.css" type="text/css">
    <script src="../static/js/jquery-3.3.1.min.js"></script>

    <script src="../static/js/cocktail99.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>

    <script>
        {#$(document).ready(function () {#}
        {#    selectCate()#}


        function handleClickLike(name) {
            $.ajax({
                type: "POST",
                url: "/api/likeclick",
                data: {name_give: name},
                success: function (response) {
                    changeLikeStatus(name)
                }
            })
        }

        function changeLikeStatus(name) {
            const elements = document.getElementsByClassName(`${name}`);

            const countElement = elements.item(1);  // 카운트 element

            const iconElement = elements.item(0);  // 좋아요 아이콘 element

            const currentCount = countElement.innerText;
            const num = Number(currentCount);

            // const currentIcon = iconElement.classList.contains('active');

            const currentIcon = iconElement.getAttribute('src') === '/static/img/icon/suit-heart.svg';


            // console.log(currentIcon)

            if (currentIcon) {
                countElement.innerText = (num + 1).toString();
                iconElement.setAttribute('src', '/static/img/icon/suit-heart-fill.svg');
            } else {
                countElement.innerText = (num - 1).toString();
                iconElement.setAttribute('src', '/static/img/icon/suit-heart.svg');
            }
        }

        function selectCate(value){
            if (value === undefined || value === 'None')
            {
                value = 0
            }

            $('#item-list').empty()

             $.ajax({
                type: "POST",
                url: "/api/list_view",
                data: {val_give : value},
                success: function (response) {
                    const lists = response['results']
                    const user = response['is_login']
                    console.log(user)
                        if (user === 0) {
                            for (let i = 0; i < lists.length; i++) {
                                const name = lists[i]['name']
                                const imgsrc = lists[i]['imgsrc']
                                const like = lists[i]['like']
                                let temp_html = ''
                                temp_html = `
                                            <div class="col-lg-4 col-md-6 col-sm-6">
                                            <div class="product__item">
                                                <div class="product__item__pic set-bg">
                                                    <img src="${imgsrc}"/>
                                                    <ul class="product__item__pic__hover">
                                                        <div onclick="handleClickLike('${name}')" class="click" style="margin-left: 15px">
                                                            <img src="/static/img/icon/suit-heart.svg" class="${name} active" style="width: 40px; height: 40px"/>
                                                            <span class="${name}" style="margin-left: 5px"></div>${like}</span>
                                                        </div>
                                                    </ul>
                                                </div>
                                                <div class="product__item__text">
                                                    <h6>
                                                        <a href=url_for('to_detail_page', cocktailname = ${name}) onclick="">${name}</a>
                                                    </h6>
                                            </div>
                                        </div>
                                            `
                                $('#item-list').append(temp_html)
                            }
                     } else {
                            for (let i = 0; i < lists.length; i++) {
                                const name = lists[i]['name']
                                const imgsrc = lists[i]['imgsrc']
                                const like = lists[i]['like']
                                let temp_html = ''
                                if (name in user['like_list']) {
                                    temp_html = `
                                            <div class="col-lg-4 col-md-6 col-sm-6">
                                            <div class="product__item">
                                                <div class="product__item__pic set-bg">
                                                    <img src="${imgsrc}"/>
                                                    <ul class="product__item__pic__hover">
                                                        <div onclick="handleClickLike('${name}')" class="click" style="margin-left: 15px">
                                                            <img src="/static/img/icon/suit-heart-fill.svg" class="${name} active" style="width: 40px; height: 40px; "/>
                                                            <span class="${name}" style="margin-left: 5px">${like}</span>
                                                        </div>
                                                    </ul>
                                                </div>
                                                <div class="product__item__text">
                                                    <h6>
                                                        <a href=url_for('to_detail_page', cocktailname = ${name}) onclick="">${name}</a>
                                                    </h6>
                                            </div>
                                        </div>
                                            `
                                    $('#item-list').append(temp_html)

                                } else {
                                    temp_html = `
                                            <div class="col-lg-4 col-md-6 col-sm-6">
                                            <div class="product__item">
                                                <div class="product__item__pic set-bg">
                                                    <img src="${imgsrc}"/>
                                                    <ul class="product__item__pic__hover">
                                                        <div onclick="handleClickLike('${name}')" class="click" style="margin-left: 15px">
                                                            <img src="/static/img/icon/suit-heart.svg" class="${name} active" style="width: 40px; height: 40px"/>
                                                            <span class="${name}" style="margin-left: 5px">${like}</span>
                                                        </div>
                                                    </ul>
                                                </div>
                                                <div class="product__item__text">
                                                    <h6>
                                                        <a href=url_for('to_detail_page', cocktailname = ${name}) onclick="">${name}</a>
                                                    </h6>
                                            </div>
                                        </div>
                                            `
                                    $('#item-list').append(temp_html)
                                }
                            }
                        }
                }
            })
        }
    </script>
</head>
<script defer>

</script>
<body>
<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>


<!-- Product Section Begin -->
<section class="product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-5">
            </div>
            <div class="col-lg-9 col-md-7">
                <div class="row">
                    <div class="col-lg-4 col-md-5">
                        <div class="filter__sort">
                            <span>Sort By</span>
                            <select id="class-cate" onchange="selectCate(this.value)">
                                <option value=0>전체</option>
                                <option value="UNFORGETTABLE">UNFORGETTABLE</option>
                                <option value="CONTEMPORARY CLASSICS">CONTEMPORARY CLASSICS</option>
                                <option value="NEW ERA DRINKS">NEW ERA DRINKS</option>
                                <option value="조주기능사">조주기능사</option>
                                <option value="user_recipe">유저 레시피</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="filter__found">
{#                            <h6><span>{{ results | length }}</span> 개의 레시피 </h6>#}
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-3">
                        <div class="filter__option">
                            <span class="icon_grid-2x2"></span>
                            <span class="icon_ul"></span>
                        </div>
                    </div>
                </div>
            </div>

            <div id="item-list" class="row">
                {% for result in results %}
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="product__item">
                            <div class="product__item__pic set-bg" data-setbg="{{ result.imgsrc }}">
                                <ul class="product__item__pic__hover">

                                                        {% if id %}
                                                            {% if result.name in id.like_list %}
                                                                <div onclick="handleClickLike(`{{result.name}}`)" class="click" style="margin-left: 15px">
                                                                    <img src="/static/img/icon/suit-heart-fill.svg" class="{{result.name}} active" style="width: 40px; height: 40px; "/>
                                                                    <span class="{{result.name}}" style="margin-left: 5px">{{ result.like }}</span>
                                                                </div>
                                                            {% else %}
                                                                <div onclick="handleClickLike(`{{result.name}}`)" class="click" style="margin-left: 15px">
                                                                    <img src="/static/img/icon/suit-heart.svg" class="{{result.name}} active" style="width: 40px; height: 40px"/>
                                                                    <span class="{{result.name}}" style="margin-left: 5px">{{ result.like }}</span>
                                                                </div>
                                                            {% endif %}
                                                        {% else %}
                                                            <div onclick="handleClickLike(`{{result.name}}`)" class="click" style="margin-left: 15px">
                                                                    <img src="/static/img/icon/suit-heart.svg" class="{{result.name}} active" style="width: 40px; height: 40px"/>
                                                                    <span class="{{result.name}}" style="margin-left: 5px">{{ result.like }}</span>
                                                                </div>
                                                        {% endif %}
                                </ul>
                            </div>
                            <div class="product__item__text">
                                <h6>
                                    <a href={{ url_for('to_detail_page', cocktailname = result.name) }} onclick="">{{ result.name }}</a>
                                </h6>
                                {#                                    <h5>{{ result.stars }}</h5>#}
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg="img/product/product-2.jpg">
                            <ul class="product__item__pic__hover">
                                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                            </ul>
                        </div>
                        <div class="product__item__text">
                            <h6><a href="#">Crab Pool Security</a></h6>
                            <h5>$30.00</h5>
                        </div>
                    </div>
                </div>

                <div class="product__pagination">
                    <a href="#">1</a>
                    <a href="#">2</a>
                    <a href="#">3</a>
                    <a href="#"><i class="fa fa-long-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Product Section End -->

<!-- Footer Section Begin -->
<footer class="footer spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="footer__about">
                    <div class="footer__about__logo">
                        <a href="./index.html"><img src="img/logo.png" alt=""></a>
                    </div>
                    <ul>
                        <li>Address: 60-49 Road 11378 New York</li>
                        <li>Phone: +65 11.188.888</li>
                        <li>Email: hello@colorlib.com</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
                <div class="footer__widget">
                    <h6>Useful Links</h6>
                    <ul>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">About Our Shop</a></li>
                        <li><a href="#">Secure Shopping</a></li>
                        <li><a href="#">Delivery infomation</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Our Sitemap</a></li>
                    </ul>
                    <ul>
                        <li><a href="#">Who We Are</a></li>
                        <li><a href="#">Our Services</a></li>
                        <li><a href="#">Projects</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">Innovation</a></li>
                        <li><a href="#">Testimonials</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="footer__widget">
                    <h6>Join Our Newsletter Now</h6>
                    <p>Get E-mail updates about our latest shop and special offers.</p>
                    <form action="#">
                        <input type="text" placeholder="Enter your mail">
                        <button type="submit" class="site-btn">Subscribe</button>
                    </form>
                    <div class="footer__widget__social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-pinterest"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="footer__copyright">
                    <div class="footer__copyright__text">
                        <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                            All rights reserved | This template is made with <i class="fa fa-heart"
                                                                                aria-hidden="true"></i> by <a
                                    href="https://colorlib.com" target="_blank">Colorlib</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                    </div>
                    <div class="footer__copyright__payment"><img src="img/payment-item.png" alt=""></div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Section End -->

<!-- Js Plugins -->

<script src="../static/js/bootstrap.min.js"></script>
<script src="../static/js/jquery.nice-select.min.js"></script>
<script src="../static/js/jquery-ui.min.js"></script>
<script src="../static/js/jquery.slicknav.js"></script>
<script src="../static/js/mixitup.min.js"></script>
<script src="../static/js/owl.carousel.min.js"></script>
<script src="../static/js/main.js"></script>


</body>

</html>

